.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrap {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
